$body-background-color: #fff5f5;
$sidebar-color: #fce4ec;
$body-text-color: #37474f;
$link-color: #d81b60;
$nav-child-link-color: #ad1457;
$body-heading-color: #880e4f;
$search-background-color: #fce4ec;
$feedback-color: #f8bbd0;
$table-background-color: #fff0f3;
$code-background-color: #fce4ec;
$search-result-preview-color: #546e7a;
$btn-primary-color: #e91e63;
$base-button-color: #f8bbd0;
$border-color: #f48fb1;
