name: Pull Request

on:
  pull_request:
    branches: [ main ]

jobs:
  test-kubectl-mtv:
    name: Test kubectl-mtv
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          check-latest: true

      - name: Install tools
        run: make install-tools

      - name: Run tests
        run: make test

      - name: Run lint
        run: make lint

      - name: Build kubectl-mtv
        run: make
